<div class="center jumbotron">
  <div class="container">
    <div class='jumbotron-content'>
      <h1 class="display-4">Esperto Fit</h1>
      <p class="lead"><h2>Gestão de rede de academias</h2></p>
      <p><%= link_to 'Matrícule-se', new_client_path %></p>
    </div>
    <%= image_tag 'logo espertofit CompactWhite', class:'jumbotron-logo' %>
  </div>
</div>
