<h1> Criar Unidade </h1>

<% if @gym.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @gym.errors.full_messages.each do |message| %>
      <li> <%= message %>
    <% end %>
    </ul>
  </div>
<% end %>

<%= render 'gyms/form' %>