@import "bootstrap";
@import 'rails_bootstrap_forms';
@import 'custom';

.app-space-line-top {
    margin-top: 20px;
}

.app-space-line-bottom {
    margin-bottom: 12px;
}

.app-space-button {
    margin-bottom: 12px;
    margin-top: 12px;
}

.app-space-imput-bottom {
    margin-bottom: 25px;
}

.app-space-top-bottom {
    margin-bottom: 12px;
    margin-top: 12px;
}

.app-box {
    background-color: gray;
    margin-bottom: 12px;
    margin-top: 12px;
}

.app-title-spaces {
    margin-bottom: 50px;
}

.app-container {
    max-width: 500px;
}
