body {
  background-color: #5b6974;
  color: white;
}
h1 {
  color: #f9a103;
}
h2 {
  color: #f9a103;
}
a {
  color: white;
}
.navbar-brand {
  height: 80px;
}
nav .navbar-nav li a {
  color: white !important;
}
nav .navbar-nav li a:hover {
  color: #343a40 !important;
}
.nav-link:hover {
  background-color: #f9a103;
  border-radius: 15px;
}
.dropdown-menu {
  background-color: #343a40;
}
.dropdown-item {
  color: white;
  background-color: #343a40;
}
.dropdown-item:hover {
  background-color: #f9a103;
}
.jumbotron {
  background-image: asset-url("gym_monaghan.jpg");
  background-size: cover;
  height: 500px;
}
.jumbotron-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 320px;
  width: auto;
}
.jumbotron-content {
  position: absolute;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
}
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #f9a103;
  color: #f9a103;
  text-align: center;
}
