<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="app-title-spaces ">Gerenciamento de Planos</h1>
    </div>

      <% @plans.each do |plan| %>
        <div class="col-4">
            <div class="shadow p-3 mb-5 bg-white rounded">
              <h3 class="text-center"><%= link_to plan.name, plan %></h3>
              <hr>
              <h5>Resumo:</h5>
              <%= link_to "Detalhes", plan, class:"btn btn-secondary btn-block app-space-button" %>
            </div>
        </div>
      <% end %>

    </div>
    <div class="col-4 offset-4">
      <%= link_to 'Voltar', root_path, class:"btn btn-warning btn-block app-space-button"%>
    </div>
  </div>
</div>
