<div class="container">
  <footer class="footer">
    <small class="footer-content">
      Projeto Final - Imersão Web - TreinaDev 2019 |
      <%= link_to 'GitHub Repo', 'https://github.com/campuscode-alumni/esperto_fit_academy', target: :_blank %>
    </small>
  </footer>
</div>